.App {
	min-width: 400px;
	min-height: 400px;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #ccc;
	padding: 20px;
	background-color: #fff;
}

h1.header {
	text-align: left;
	font-size: 2rem;
	color: #333;
	border-bottom: 5px solid #aaa;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

span.smallHeading {
	font-size: 1.5rem;
	color: #555;
}

form.subHeader {
	margin-top: 10px;
	display: flex;
	flex-direction: column-reverse;
}

.inputBox {
	border-bottom: 1px solid #888;
	margin-bottom: 10px;
}

.inputBox input {
	width: 100%;
	padding: 6px 12px;
	outline: none;
	border: none;
	font-size: 0.8rem;
}

.actionBox {
	/* border: 1px solid red; */
}
