.todoContainer {
	padding: 5px 0;
	text-align: left;
	box-sizing: border-box;
	border-left: 2px solid #fff;
}

.todoContainer:hover {
	border-left: 2px solid #0d0d0d;
}

label {
	display: flex;
	margin-left: 10px;
	align-items: center;
	font-size: 1.2rem;
	cursor: pointer;
}

input[type='checkbox'],
input[type='checkbox']:checked {
	display: none;
}

.todoContainer i {
	margin-right: 10px;
}

.todoContainer .fa-check-circle {
	color: #758283;
}

span {
	color: #0d0d0d;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
